.blue-box {
    background-color:blue;
}

.orange-box {
    background-color:orange;
}

.green-box {
    background-color:green;
}

.pink-box {
    background-color:pink;
}

.yellow-box {
    background-color:yellow;
}

.red-box {
    background-color:red;
}

.brown-box {
    background-color:brown;
}

.purple-box {
    background-color:purple;
}